### Eclipse ###

/.settings/
/bin/
/.classpath
/.project


### Gradle ###

/.gradle/
/build/


### VulcEngine-MapMaker ###
/VulcEngine-MapMaker-*.jar
/mapmaker-config.vdf
/mapfile.bvdf
/mapmaker_autosave.bvdf


/*.jar
